html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tags {
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}

.tag {
    margin: 15px;
    font-family: Impact;
    font-size: 16px;
    text-decoration: none;
}